footer {
  color: #95a5a6;
  font-size: .85rem;
  min-height: 2rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-top: 1px solid #ecf0f1;
  padding-top: 1rem;
}
