---
layout: default
---

    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand">
          <a href="#top">{{ site.data.resume.name }}</a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
          <a href="#education" class="navbar-item">Education</a>
          <a href="#experience" class="navbar-item">Experience</a>
          <a href="#publication" class="navbar-item">Publication</a>
          <a href="#patent" class="navbar-item">Patent</a>
          <a href="#attendance" class="navbar-item">Attendance</a>
          <a href="#honors" class="navbar-item">Honors & Awards</a>
        </div>
        <div class="navbar-burger" id="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>

    <div class="container" id="top">
      <header>
        <div class="name-wrapper">
          <div id="fullname" class="title">
            {{ site.data.resume.name }}
          </div>
          <div id="jobtitle" class="sub-title">
            {{ site.data.resume.jobtitle }}
          </div>
        </div>
        <div id="contact" class="contact">
          {% for item in site.data.resume.contact %}
          <div class="contact-item">
            {% if item.link %}
            <a href="{{ item.link }}">
            {% endif %}
            <i class="fa {{ item.icon }} aria-hidden="true></i> {{ item.text }}
            {% if item.link %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </header>

      <section id="education">
        <div class="section-title">
          Education
        </div>
        <div class="section-content">
          {% for edu in site.data.resume.education %}
          <div class="block">
            <div class="block-title">
              {{ edu.university }}
            </div>
            <div class="block-subtitle">
              {{ edu.duration }} | {{ edu.location }}
            </div>
            <div class="block-content">
              {{ edu.major }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- <section id="skills">
        <div class="section-title">
          Skills
        </div>
        <div class="section-content">
          {% for skill in site.data.resume.skills %}
          <div class="block">
            <div class="block-title">
              {{ skill.title }}
            </div>
            <div class="block-content">
              {{ skill.items }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section> -->

      <section id="experience">
        <div class="section-title">
          Experience
        </div>
        <div class="section-content">
          {% for exp in site.data.resume.experience %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
            <div class="block-subtitle">
              {{ exp.duration }} | {{ exp.company }}
            </div>
            <div class="block-content">
              {{ exp.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="publication">
        <div class="section-title">
          Publication
        </div>
        <div class="section-content">
          {% for pub in site.data.resume.publications %}
          <div class="block">
            <div class="block-tag-container">
              <span class="block-tag conference-tag">{{ pub.conference }}</span>
              <div class="block-conference">
                {{ pub.award }}
              </div>
            </div>
            <div class="block-title">
              {{ forloop.index }}. {{ pub.title }}
            </div>
            <div class="block-subtitle">
              {{ pub.author }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="patent">
        <div class="section-title">
          Patent
        </div>
        <div class="section-content">
          {% for patent in site.data.resume.patents %}
          <div class="block">
            <div class="block-tag-container">
              {% if patent.status %}
              <span class="block-tag patent-tag">{{ patent.status }}</span>
              {% endif %}
            </div>
            <div class="block-title">
              {{ patent.title }}
            </div>
            <div class="block-subtitle">
              {{ patent.type }} | {{ patent.author }}
            </div>
            {% if patent.description %}
            <div class="block-content">
              {{ patent.description }}
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="attendance">
        <div class="section-title">
          Attendance
        </div>
        <div class="section-content">
          {% for attendance in site.data.resume.attendances %}
        <div class="block">
          <div class="block-title">
            {{ attendance.title }}
          </div>
          <div class="block-subtitle">
            {{ attendance.datetime }} | {{ attendance.location }}
          </div>
        </div>
        {% endfor %}
        </div>
      </section>

      <section id="honors">
        <div class="section-title">
          Honors
        </div>
        <div class="section-content">
          {% for honor in site.data.resume.honors %}
          <div class="block-item">
            <div class="block-subtitle">
              {{ forloop.index }}. <strong>{{ honor.title }}</strong>{% if honor.competition %}, {{ honor.competition }}{% endif %}, {{ honor.year }}, {{ honor.org }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- <section id="projects">
        <div class="section-title">
          Projects
        </div>
        <div class="section-content">
          {% for project in site.data.resume.projects %}
          <div class="block">
            <div class="block-title">
              {{ project.name }}
            </div>
            <div class="block-subtitle">
              {{ project.contribution }}
            </div>
            <div class="block-content">
              {{ project.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section> -->

      <section id="languages">
        <div class="section-title">
          Languages
        </div>
        <div class="section-content section-flex">
          {% for language in site.data.resume.languages %}
          <div class="block block-square">
            <div class="block-title">
              {{ language.name }}
            </div>
            <div class="block-content">
              {{ language.proficiency }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
